# Dependências
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/
.vite/
*.tsbuildinfo

# Ambiente
.env
.env.local
.env.*.local

# Prisma
apps/api/prisma/*.db

# Logs
logs/
*.log
npm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Electron
apps/desktop/release/
